---
import PasswordRecoveryForm from "../../components/auth/PasswordRecoveryForm";
import Layout from "../../layouts/Layout.astro";
---

<Layout title='Password Recovery - AltImageOptimizer'>
  <main class='container mx-auto py-8 px-4'>
    <div class='max-w-md mx-auto'>
      <h1 class='text-3xl font-bold mb-6 text-center'>Reset Password</h1>
      <PasswordRecoveryForm client:load />
    </div>
  </main>
</Layout>
